@model RecipeCreateViewModel

@{
    ViewBag.Title = "Edit Recipe";
    var photoPath = "~/Images/" + (Model.ExistingPhotoPath ?? "noimage.jpg");

}

    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-3">
        <input hidden asp-for="Id" />
        <input hidden asp-for="ExistingPhotoPath" />
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Recipe Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Source" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Source" class="form-control" placeholder="Recipe Source">
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group row">
            <label asp-for="Ingredient" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="Ingredient" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Ingredient>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group row">
            <label asp-for="Time" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Time" class="form-control" placeholder="Preparation Time in mins.">
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Preparation" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Preparation" class="form-control" placeholder="Preparation Instructions">
                <span asp-validation-for="Preparation" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input multiple asp-for="Photos" class="form-control custom-file-input">
                    <label class="custom-file-label">Click here to change photo</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>
            </div>
        </div>

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.cutom-file-label');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + ' files selected');
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files[0].name);
                        }
                        //var fileName = $(this).val().split("\\").pop();
                        //$(this).next('.custom-file-label').html(fileName);
                    });
                });

            </script>
        }

    </form>